.check {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 2em;
  
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.429;
  color: $text-color-dark;
}

.check__box {
  position: absolute;

  display: block;
  width: 1.429em;
  height: 1.429em;
  margin-left: -2em;

  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1" y="1" width="18" height="18" rx="3" fill="%23F3F6FB" stroke="%23A0A8C5" stroke-width="2"/%3E%3C/svg%3E');  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  border-radius: 0.2857em;
  transition: 0.2s;
}

.check__input:checked + .check__box {
  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1" y="1" width="18" height="18" rx="3" fill="%2340B3B7" stroke="%2340B3B7" stroke-width="2"/%3E%3Cpath d="M5.5 10.5L8 13L13.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');}

.check__input:focus + .check__box {
  outline: none;
  box-shadow: 0 0 0 2px #FFFFFF,
              0 0 0 4px $button-hover-border-color;
}

.check__input:disabled + .check__box,
.check__input:disabled ~ .check__text {
  opacity: 0.5;
}