$background-color-1: #FAFBFF;
$background-color-2: #FFFFFF;
$background-color-3: #1B234A;
$background-color-4: #FFF4CC;
$background-color-5: #DAFBF1;

$text-color-grey: #616F97;
$text-color-dark: #1B234A;
$text-color-lightgrey: #A0A8C5;
$text-color-mint: #40B3B7;

$button-text-color: #FFFFFF;
$button-background-color: #40B3B7;
$button-hover-border-color: #FFA601;